
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'myasset/css/main.css' %}">





	<title>Home</title>
</head>
<body>
<header>
	<nav>
		
	</nav>
</header>
<section>
	<div class="container">
		<div class="row">
			<div class="col-10 caption">
				<div class='row'>
					<div class="col-12 title-container">
						<div class="title"><a href="/index">Student Tracking System</a></div>
					</div>
				</div>
				<p class="home-page-text"><h2>We are invigilating the every student</h2></p>
				<p class="home-page-signup-text"><h2 >Sign up and lets bank your thoughts</h2></p>
				<div class="row landing-page-button-container">
					<div class="col-12 button"><a href="/signup"><button type="button" id="sign-up" style="margin-right:7px">Sign up</button></a><a href="/signin"><button type="button" id="logIn-button">Log In</button></a></div>
				</div>
			</div>
		</div>
	</div>
</section>
</body>
</html>