{% extends 'core\siteBase.html' %}

{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Verifaction on Processs</h1>
          </div>
          <div class="col-sm-6">
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="error-page">
        <h2 class="headline text-warning">500</h2>

        <div class="error-content">
          <h3><i class="fas fa-exclamation-triangle text-info"></i> Oops! Something went wrong.</h3>

          <p>
            Admin not <b>Verified</b> your Acccount  or Your Account <b>blocked</b> by Admin.
            Meanwhile, you may please Contact <a href="#">cdc@gmit.com</a> 
          </p>
        </div>
      </div>
      <!-- /.error-page -->

    </section>
    <!-- /.content -->
</div>
  <!-- /.content-wrapper -->
{% endblock content %}