{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>403 Forbidden</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Cabin|Ubuntu:700'>
  <link rel="stylesheet" href="{% Static 'forbidden.css' %}">

</head>

<body>
  <!-- partial:index.partial.html -->
  <div class="base io">
    <h1 class="io">500</h1>
    <h2>CDC not approved you </h2>
    <h5>Please Contact CDC here cdc@gmit.com</h5>
  </div>
  <!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
</body>

</html>